# Database Configuration (Postgres / Supabase)
DATABASE_URL=postgresql://user:password@host:port/database

# Application Configuration
NODE_ENV=production
PORT=3002

# Admin Login Authentication
ADMIN_USER=admin
ADMIN_PASSWORD=Admin@2026
